# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
dist/
dist-ssr/
.vite/

# OS & Editors
.DS_Store
.vscode/
.idea/

# Misc
.env
.env.local
